body{
    font-family: cursive;
    background-color:navajowhite;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-container{
    background-color:mediumpurple;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}
.form-group{
    margin: 16px;
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
button{
    background-color:orangered;
    color: whitesmoke;
    padding: 10px 15px;
    border:none;
    border-radius:4px ;
    cursor: pointer;
    font-size: 20px;

}